.fl {
  float: left;
  :after{
    clear: both;
  }
}
.fw{
  float: left;
  width: 50%;
}
.ext {
  .fl;
  margin-left: 10px;
}
.confirmBox{
  margin :0 auto;
  font-size: 14px;
  text-align: center;
  color:green;
}
.fr{
  float: right;
  button{
    color:cadetblue;
  }
}
