
.normal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.head {
  margin-bottom: 20px;
}

.content {
  flex: 1;
  display: flex;
}

.side {
  padding: 10px;
  width: 250px;
}

.main {
  padding: 8px;
  flex: 1 0 auto;
}

.foot {
  margin-top: 20px;
  background: greenyellow;
  padding: 8px;
}
